<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Shop</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Welcome to My Shop</h1>
    <h1>

    </h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of Stock</th>
        </tr>
        <tr th:each="item:${items}"> <!-- for(Book book : books) {book.title, book.author,...} -->
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
        </tr>
    </table>


</div>

</body>
</html>