<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Shop</title>

</head>

<body>
<table>


    <colgroup>
        <col class="first-cols">
    </colgroup>

    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of Stock</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Running shoes</td>
        <td>Nike running shoes for every day sport</td>
        <td>1000</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Printer</td>
        <td>Some HP printer that will print pages</td>
        <td>3000</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Coca Cola</td>
        <td>0.5l standard coke</td>
        <td>25</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Wokin</td>
        <td>Chicken with fried rice and WOKIN sauce</td>
        <td>119</td>
        <td>100</td>
    </tr>
    <tr>
        <td>T-Shirt</td>
        <td>Blue with a corgi on a bike</td>
        <td>300</td>
        <td>1</td>
    </tr>





    </tbody>

    <tfoot>
    <tr>
        <td colspan="2">Total mileage</td>
        <td rowspan="2">1623</td>
    </tr>
    <tr>
        <td colspan="2">Total mileage</td>
    </tr>
    </tfoot>
</table>

</body>
</html>